body {font-family: 'proxima_nova_rgregular', Arial, sans-serif;}

.jumbotron {
 font-family: 'proxima_nova_ltlight', Arial, sans-serif;    
  background: url(../img/jumbotrom-image.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:600px;
  color:#fff;
  text-align:center;
  padding-top:230px;    
}

.jumbotron h1 {font-weight:100;}
.navbar-inverse {background-color:#fff; padding-top:20px; padding-bottom:20px;}
.navbar-brand {background:url(../img/getflat.png) no-repeat center center; width:100px;}
.navbar-brand:hover {background:url(../img/getflat-active.png) no-repeat center center; width:100px;}
.btn-group {vertical-align:top;}
.jumbotron-dropup {border-bottom:2px dotted #428bca; cursor:pointer; color:#428bca;}

.btn-lg, .btn-group-lg>.btn {
padding: 16px 32px;
font-size: 24px;
font-weight:100;    
line-height: 1.33;
border-radius: 3px;
margin-top:40px;    
}

.dropdown-menu {z-index:9999; padding:10px 0; font-size:0.8em;}
.dropdown-menu li a {color:#ababab;}
.dropdown-menu li a.active {color:#428bca;}


@media screen and (min-width: 768px) {
    .jumbotron h1 {font-size: 53px; line-height:1.25em;}
}